.ForgotPwd {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
}

.fPwdForm {
  width: 25vw;
  height: 26vh;
  margin: auto;
  margin-top: 10%;
  border-radius: 8px;
  background-color: #28384F;
}

.ForgotPwdBorder {
  width: 70%;
  margin: auto;
  padding-top: 7%;
  border-bottom: 1px solid #B8B8B8;
}

.pwdSpinner {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 20px;
  color: #FCD139 !important;
}

.toastStylingPwd {
  width: 24vw;
  margin: auto;
  margin-top: 1%;
}

@media screen and (max-width: 414px){
.fPwdForm {
    width: 90%;
    height: 30vh;
}
}
