.ForgotPwd {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
}

.fPwdForm {
  width: 25vw;
  height: 25vh;
  margin: auto;
  margin-top: 10%;
  border-radius: 8px;
  background-color: #28384F;
}

.ForgotPwdBorder {
  width: 70%;
  margin: auto;
  padding-top: 6%;
  border-bottom: 1px solid #B8B8B8;
}

.toastPwd {
  width: 100%;
}
@media screen and (max-width: 414px){
.fPwdForm {
    width: 90%;
    height: 30vh;
}
}