.heroStyling {
  background: url('../assets/hero.png');
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.mainHeaderContainer {
  text-align: center;
  float: left;
  padding-top: 3%;
  padding-left: 5%;
}

.mainUnderline {
  width: 70%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  border-bottom: 1px solid white;
}

.mainTitle {
  color: white;
  font-weight: 300;
  font-size: 5em;
  letter-spacing: 20px;
  margin: 0;
  margin-top: 10%;
}

.mainSubTitle {
  color: white;
  font-weight: 300;
  font-size: 1.8em;
  letter-spacing: 1px;
}

.section2 {
  height: 90vh;
  width: 100vw;
  display: flex;
}

.s1, .s2{
  width: 50vw;
  padding-top: 6%;
}

.sec2Text {
  color: white;
  font-size: 1.5em;
  font-weight: 250;
  width: 75%;
}

.section3 {
  height: 70vh;
  width: 100vw;
}

.noPadding {
  padding-left: 0;
  padding-right: 0;
}

.noMargin {
  margin-left: 0;
  margin-right: 0;
}

.sec2Title, .sec3Title, .sec4Title {
  color: white;
  font-weight: 300;
  font-size: 3.8em;
  letter-spacing: 1.5px;
}

.faqTitle {
  color: white;
  font-size: 1.6em;
  width: 100%;
  padding-bottom: 4px;
}

.faqBubble {
  width: 85%;
  padding: 15px;
}

.faqText {
  color: white;
  font-size: 1.1em;
  padding: 0;
  padding-top: 5px;
}

.flex {
  display: flex;
  border-bottom: 1px solid #FCD139;
}

.arrowIcon {
  font-size: 1.2em;
  padding-top: 4px !important;
  margin: 0 !important;
  color: white !important;
  line-height: 2 !important;
}

.cardStyling {
  background-color: transparent;
  border: none;
}

.secondaryFaq {
  margin-top: 4%;
}

.section4 {
  position: relative;
  width: 100vw;
  height: 120vh;
}

.footer {
  width: 100vw;
  height: 22vh;
}

.footerWrap {
  display: flex;
  padding-top: 0.5%;
}

.footerIcon {
  color: white !important;
  font-size: 2em;
  padding: 20px 40px 20px 40px;
}

.footerIcon:hover {
  color: #FCD139 !important;
}

.footerText {
  color: white;
  font-size: 18px;
}

.section2img {
  width: 40%;
  padding-top: 10%;
  display: block;
  margin: auto;
}

.homeFooter {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.stats {
  height: 55vh;
}

.statsContainer {
  width: 33%;
  text-align: center;
  -webkit-transition: width 0.3s, height 0.3s;
   transition: width 0.3s, height 0.3s;
}

.statsContainer:hover {
  color: red;
}

.statsHeader {
  margin: 0;
  color: white;
  font-size: 70px;
  font-weight: 300;
  padding-right: 6px;
}

.statsSubHeader {
  font-weight: 300;
  letter-spacing: 3px;
  color: #FCD138
}

.acm {
  width: 45%;
  -webkit-transition: width 0.3s, height 0.3s;
   transition: width 0.3s, height 0.3s;
}

.acm:hover {
  width: 47%;
}

.ieee {
  width: 60%;
  -webkit-transition: width 0.3s, height 0.3s;
   transition: width 0.3s, height 0.3s;
}

.ieee:hover {
  width: 62%;
}
