.heroStyling {
  background: url('../assets/hero.png');
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.homeNav{display: none;}

.mainHeaderContainer {
  text-align: center;
  float: left;
  padding-top: 3%;
  padding-left: 5%;
}

.mainUnderline {
  width: 70%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  border-bottom: 1px solid white;
}

.mainTitle {
  color: white;
  font-weight: 300;
  font-size: 5em;
  letter-spacing: 20px;
  margin: 0;
  margin-top: 10%;
}

.mainSubTitle {
  color: white;
  font-weight: 300;
  font-size: 1.8em;
  letter-spacing: 1px;
}

.section2 {
  height: 90vh;
  width: 100vw;
  display: flex;
}

.s1, .s2{
  width: 50vw;
  padding-top: 6%;
}
.about{

display: inline;

}
.cutieHackHeader{
display: inline;

}
.sec2Text {
  color: white;
  font-size: 1.5em;
  font-weight: 250;
  width: 75%;
}

.section3 {
  height: 70vh;
  width: 100vw;
}

.noPadding {
  padding-left: 0;
  padding-right: 0;
}
.noPaddingSponsor {
  padding-left: 0;
  padding-right: 0;
}

.mobileApply {
  display: none
}

.noMargin {
  margin-left: 0;
  margin-right: 0;
}
.noMarginFAQ {
  margin-left: 0;
  margin-right: 0;
}
.noMarginSponsor {
  margin-left: 0;
  margin-right: 0;
}

.sec2Title, .sec3Title, .sec4Title {
  color: white;
  font-weight: 300;
  font-size: 3.8em;
  letter-spacing: 1.5px;
}

.faqTitle {
  color: white;
  font-size: 1.6em;
  width: 100%;
  padding-bottom: 4px;
}

.faqBubble {
  float: right;
  width: 85%;
  padding: 15px;
}
.faq2Bubble {
  width: 85%;
  padding: 15px;
}

.faqText {
  color: white;
  font-size: 1.1em;
  padding: 0;
  padding-top: 5px;
}

.flex {
  display: flex;
  border-bottom: 1px solid #FCD139;
}

.arrowIcon {
  font-size: 1.2em;
  padding-top: 4px !important;
  margin: 0 !important;
  color: white !important;
  line-height: 2 !important;
}

.cardStyling {
  background-color: transparent;
  border: none;
}

.secondaryFaq {
  margin-top: 4%;
}

.section4 {
  position: relative;
  width: 100vw;
  height: 120vh;
}

.footer {
  width: 100vw;
  height: 22vh;
}

.footerWrap {
  display: flex;
  padding-top: 0.5%;
}

.footerIcon {
  color: white !important;
  font-size: 2em;
  padding: 20px 40px 20px 40px;
}

.footerIcon:hover {
  color: #FCD139 !important;
}

.footerText {
  color: white;
  font-size: 18px;
}

.section2img {
  width: 40%;
  padding-top: 10%;
  display: block;
  margin: auto;
}

.homeFooter {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.stats {
  height: 55vh;
}

#justForStats{

display: flex;


}

.statsContainer {
  width: 33%;
  text-align: center;
}


.statsHeader {
  color: white;
  font-size: 70px;
  font-weight: 300;
  line-height: 40px;
  transition-timing-function: ease-in;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}

.statsHeader:hover {
  font-size: 80px;
}

.statsSubHeader {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 3px;
  color: #FCD138
}

.acm {
  width: 45%;
  -webkit-transition: width 0.3s, height 0.3s;
   transition: width 0.3s, height 0.3s;
}

.acm:hover {
  width: 47%;
}

.ieee {
  width: 55%;
  -webkit-transition: width 0.3s, height 0.3s;
   transition: width 0.3s, height 0.3s;
}

.ieee:hover {
  width: 57%;
}
@media screen and (max-width: 414px){
.homeNav{display: block; }
.navbarHome{display: none;}
.heroStyling {
  background: url('../assets/hero.png');
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
  /*margin-top: 15%;*/
}

.mainHeaderContainer {
  text-align: center;
  padding: 0;
}

.mainUnderline {
  width: 70%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  border-bottom: 1px solid white;
}

.mainTitle {
  color: white;
  font-weight: 300;
  font-size: 5em;
  letter-spacing: 20px;
  margin: 0;
  margin-top: 60%;
}

.mainSubTitle {
  color: white;
  font-weight: 300;
  font-size: 1.8em;
  letter-spacing: 1px;
}

.sec2Title{
  float: center;
  color: white;
  font-size: 2.5em;
}

.sec3Title{
  float: center;
  color: white;
  font-size: 2.5em;
  padding-top: 10%;
}
.section2img {
  display: none;
}

.s1 {
display: none;
}

.s2 {
  width: 100vw;
}

.section2{
  height: 90vh;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
}

.mobileApply {
  display: block;
  margin: auto;
  width: 75%;
  border-radius: 35px !important;
  color: white !important;
  background-color: #C99E06 !important;
  border: none !important;
}

.sec2Text {
  display: inline;
  color: white;
  font-size: 1.18em;
  width: 100%;
  letter-spacing: 2px;
}

.faqBubble {
  float: none;
  margin:auto;
  width: 95%;
}
.faq2Bubble {
  padding-top: 0;
  float:none;
  margin:auto;
  width: 95%;
  padding: 0 15px 15px 15px;
}

.sec4Title {
  float: center;
  color: white;
  font-size: 2.5em;
  padding-top: 35%;
}

.footerIcon {
  color: white !important;
  font-size: 1.75em;
  padding: 0;
  padding: 10px 20px 10px 20px;
}

.stats {
  height: 55vh;
  margin-top: 60%;
  text-align: center;
}

#justForStats{
  display: inline-block;
}

.statsContainer {
  width: 100%;
  text-align: center;
  padding-bottom: 25%;
}

.statsHeader {
  color: white;
  font-size: 70px;
  font-weight: 300;
  line-height: 40px;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}

.statsHeader:hover {
  font-size: 80px;
}

.statsSubHeader {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 3px;
  color: #FCD138
}

.noMarginFAQ {
  margin-left: 0;
  margin-right: 0;
  display: grid;
}

.noMarginSponsor {
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.noPaddingSponsor {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20%;
}

.about{
  display: block;
}
}















@media only screen and (min-width: 1900px) {




.mainTitle {
  color: white;
  font-weight: 300;
  font-size: 120px;
  letter-spacing: 20px;
  margin: 0;
  margin-top: 10%;
}
.sec2Title, .sec3Title, .sec4Title{
  float: center;
  color: white;
  font-size: 80px;
}

.sec2Text{
  color: white;
  font-size: 30px;
  font-weight: 250;
  width: 75%;
}
.faqTitle {
  color: white;
  font-size: 30px;
  width: 100%;
  padding-bottom: 4px;
}
.footerIcon {
  color: white !important;
  font-size: 50px;
  padding: 20px 40px 20px 40px;
}
.footerIcon:hover {
  color: #FCD139 !important;
}
.footerText {
  color: white;
  font-size: 35px;
}
.statsHeader {
  color: white;
  font-size: 100px;
  font-weight: 300;
  line-height: 40px;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}




}
