.heroStyling {
  background: url('../assets/hero.png');
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.mainTitle {
  color: white;
  font-weight: 300;
  font-size: 6em;
  margin: 0;
  margin-top: 10%;
  padding-left: 25px;
  text-shadow: 2.5px 2.5px #FCD138;
  letter-spacing: 8px;
}

.mainSubTitle {
  color: white;
  font-weight: 400;
  font-size: 2em;
}

.section2 {
  height: 90vh;
  width: 100vw;
  display: flex;
}

.s1, .s2{
  width: 50vw;
  padding-top: 6%;
}

.sec2Text {
  color: white;
  font-size: 1.5em;
  width: 75%;
}

.section3 {
  height: 70vh;
  width: 100vw;
}

.noPadding {
  padding-left: 0;
  padding-right: 0;
}

.noMargin {
  margin-left: 0;
  margin-right: 0;
}

.sec2Title, .sec3Title, .sec4Title {
  color: white;
  font-size: 4em
}

.faqTitle {
  color: white;
  font-size: 1.6em;
  width: 100%;
  padding-bottom: 4px;
}

.faqBubble {
  width: 85%;
  padding: 15px;
}

.faqText {
  color: white;
  font-size: 1.1em;
  padding: 0;
  padding-top: 5px;
}

.flex {
  display: flex;
  border-bottom: 1px solid #FCD139;
}

.arrowIcon {
  font-size: 1.2em;
  padding-top: 4px !important;
  margin: 0 !important;
  color: white !important;
  line-height: 2 !important;
}

.cardStyling {
  background-color: transparent;
  border: none;
}

.secondaryFaq {
  margin-top: 4%;
}

.section4 {
  width: 100vw;
  height: 80vh;
}

.footer {
  width: 100vw;
  height: 22vh;
  background-color: #2E3E4E;
}

.footerWrap {
  display: flex;
  padding-top: 0.5%;
}

.footerIcon {
  color: white !important;
  font-size: 2em;
  padding: 20px 40px 20px 40px;
}

.footerIcon:hover {
  color: #FCD139 !important;
}

.footerText {
  color: white;
  font-size: 1.4em
}
