.login {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
}

.loginForm {
  width: 25vw;
  height: 45vh;
  margin: auto;
  margin-top: 6%;
  border-radius: 8px;
  background-color: #28384F;
}

.topText {
  color: white;
  padding: 8px;
  padding-left: 15px;
  font-size: 15px;
}

.inputFields {
  width: 70%;
  margin: auto;
}

.customInput {
  color: white;
  width: 100%;
  border: 1px solid #E0E0E0 !important;
  border-radius: 4px;
  padding: 10px;
  background-color: #445367;
}

.customInput:focus {
  background-color: #142435;
}

*:focus {
    outline: none;
}

.submitField {
  width: 70%;
  margin: auto;
  margin-top: 6%;
}

::placeholder {
  color: white;
  opacity: 1;
}

.submitButton {
  width: 100%;
  border-radius: 35px !important;
  color: white !important;
  background-color: #C99E06 !important;
  border: none !important;
}

.submitButton:hover {
  background-color: #FCD139 !important;
}

.loginText{
  color: white;
  padding-bottom: 4px;
}

.loginBorder{
  width: 70%;
  margin: auto;
  padding-top: 6%;
  border-bottom: 1px solid #B8B8B8;
}

.resetText {
  background-color: transparent !important;
  border: none !important;
  color: #B7B7B7 !important;
  width: 100%;
  margin-top: 6%;
  text-align: center;
}

.resetText:hover {
  color: white !important;
}

@media screen and (max-width: 414px){
.loginForm {
  width: 25vw;
  height: 53vh;
  margin: auto;
  margin-top: 10%;
  border-radius: 8px;
  background-color: #28384F;
  /* border: 1px solid #FCD139; */
  width: 90%;
}
}
