.nav {
  display: flex;
  background-color: black;
  float: right;
}
.buttons {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  background-color:black;
  border: none;
  padding: 15px 20px;
  position: relative;
}
.buttons:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.buttons:hover:after {
  width: 100%;
  left: 0;
}
button:focus {outline:0;}
