.profileContainer {
  width: 85%;
  height: 110vh;
  background-color: #27384F;
  margin: auto;
  border-radius: 6px;
}

.iconProfile {
  width: 16%;
}

.profileHeader, .profileSubHeader {
  color: white;
  margin-bottom: 0 !important;
  padding-left: 4%;
}

.profileHeader {
  margin-top: 2%;
  font-weight: 300;
  font-size: 4em;
}

.profileSubHeader {
  font-weight: 300;
  font-size: 1.5em;
}

.innerProfileContainer {
  width: 95%;
  margin: auto;
  background-color: #415269;
  border-radius: 8px;
  height: 68%;
}

.innerHeaderProfile {
  padding-top: 1%;
  font-weight: 300;
  color: white;
}

.profileSection, .profileSection2 {
  font-weight: 500;
  padding-left: 10%;
  color: #FCD139;
  font-size: 1.2em;
}

.profileSection2 {
  margin-top: 4%;
}

.profileSectionText, .profileSectionText2 {
  color: white;
}

.profileSectionText2 {
  margin-top: 4%;
}
