.profileContainer {
  width: 85%;
  background-color: #27384F;
  margin: auto;
  border-radius: 6px;
  margin-bottom: 80px;
  padding-bottom: 40px;
}

.iconProfile {
  width: 16%;
}
.imgNameEmail{
display: flex;
padding-left: 4%;

}
.academicSchool{


display: flex;

}
.academicSubfield{

display: flex;
padding-top: 20px;

}
.demographicHeader{

display: flex;
margin-top: 25px;

}
.demographicSubfield{

display: flex;
padding-top: 20px;

}
.profileLinkedin{

display: flex;
margin-top: 25px;

}
.linkedinSubfield{

 display: flex;
 padding-top: 20px;

}


.profileHeader, .profileSubHeader {
  color: white;
  margin-bottom: 0 !important;
  padding-left: 4%;
}

.profileHeader {
  margin-top: 2%;
  font-weight: 300;
  font-size: 4em;
}

.profileSubHeader {
  font-weight: 300;
  font-size: 1.5em;
}

.innerProfileContainer {
  width: 95%;
  margin: auto;
  background-color: #415269;
  border-radius: 8px;
  height: 68%;
  padding-bottom: 20px;
}

.innerHeaderProfile {
  padding-top: 1%;
  font-weight: 300;
  color: white;
}

.profileSection, .profileSection2 {
  font-weight: 500;
  padding-left: 10%;
  color: #FCD139;
  font-size: 1.2em;
}

.profileSection2 {
  margin-top: 4%;
}

.profileSectionText, .profileSectionText2 {
  color: white;
}

.profileSectionText2 {
  margin-top: 4%;
}

.profileMain {
  padding-left: 30px;
}

.sub1Header {
  text-align: center;
  width: 20%;
  color: #FCD139;
  font-size: 18px;
}

.sub2Header {
  width: 22%;
  color: white;
  padding-right: 80px;
  font-size: 18px;
}

.sub2HeaderLower {
  width: 42%;
  color: white;
  padding-right: 80px;
  font-size: 18px;
  padding-left: 20%;
}

.sub3Header {
  font-weight: 150;
  color: white;
  font-size: 16px;
}

.spinner {
  font-size: 150px;
  color: #FCD139 !important;
}

.alignMiddle {
  text-align: center;
  padding-top: 20%;
}

@media screen and (max-width: 414px){
.iconProfile {
  width: 40%;
}

.profileContainer {
  width: 85%;
  background-color: #27384F;
  margin: auto;
  border-radius: 6px;
  margin-bottom: 80px;
  padding-bottom: 40px;
  text-align: center;

}
.profileHeader {
  margin-top: -2%;
  font-weight: 300;
  /* font-size: 4em; */
  font-size: 40px;
}
.innerHeaderProfile {
  padding-top: 1%;
  font-weight: 300;
  color: white;
  font-size: 25px;
}
.profileSubHeader {
  font-weight: 300;
  font-size: 1.5em;
  padding-bottom: 10%;
}
.imgNameEmail{
  display: block;
  padding-left: 4%;
}
.academicSchool{
  display: block;
}
.academicSubfield{
  display: block;
  padding-top: 20px;
}
.demographicHeader{
  display: block;
  margin-top: 25px;
}
.demographicSubfield{
  display: block;
  padding-top: 20px;
}
.profileLinkedin{
  display: block;
  margin-top: 25px;
}
.linkedinSubfield{
  display: block;
  padding-top: 20px;
}

.sub1Header {
  display: none;
}
.sub2Header {
  width: 22%;
  color: white;
  padding-right: 80px;
  font-size: 18px;
  display: contents;
}

.sub2HeaderLower {
  width: 42%;
  color: white;
  padding-right: 80px;
  font-size: 18px;
  padding-left: 20%;
  text-align: center;
  display: contents !important;
}
}
